body {
  overflow-y: hidden;
}

.container {
  /* position: fixed; */
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: 550px;
}

.buttons {
  height: 30px;
}

.search-form {
  top: 0;
  position: relative;
}

@media (max-width: 767px) {
  .col {
    display: flex;
    justify-content: space-between;
  }
  .list {
    position: fit-content;
  }
  body {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .container {
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 650px;
  }
}
